# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
.cache
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Build artifacts
/build/
/dist/

# Jupyter Notebook
.ipynb_checkpoints

# Others
*.sqlite3
*.pyc
*.tmp
